@font-face {
    font-family: "playfair";
    src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: "poppins";
    src: url(fonts/Poppins-Medium.ttf);
}

h1, h2, h3, h4 {
    font-family: "playfair";
}

p {
    font-size: 36px;
    font-family: "poppins";
    font-weight: 700;
}

h1 {
    font-size: 96px;
    font-weight: 700;
}

h2 {
    line-height: 2;
    font-size: 23px;
    font-weight: 600;
}

a {
    font-family: "poppins";
    font-weight: 400;
    font-size: 18px;
    color: white;
    background: #6C63FF;
    padding: 15px 30px;
}

.introduction {
    background: #F9F7FE;
    text-align: center;
    padding: 160px 20px;
}